*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: 0;
}
/*nav */
.nav{
  background: rgb(0, 0, 0);
  width: 100%;
}
/* 清除浮動 */
.nav::after{
 content: '';
 display: table;
 clear: both;

}
.nav-ul{
  width: 35%;
  float: right;
  padding: 8px;
}
ul{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
li{
  background: #ee0000;
  padding: 5px;
  list-style: none;
  text-align: center;
  margin: 5px;
  border-radius: 50px;
}
button{
  font-size: 16px;
  background: #ee0000;
  padding: 5px;
  margin: 3px;
  color: white;
  border: #000 1px solid;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0px 0px 2px 2px rgb(31, 31, 31);
  outline: none;
}
button:hover{
  background: #ff0000;
}
button:active{
  background: #ff0000;
  box-shadow: 0px 0px 3px 3px rgb(40, 40, 40);
  transform: translateY(1px);
}
/* title */
.container{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wave{
  font-size: 120px;
  font-family: 'Monoton', cursive;
  text-align: center;
  color: #ff0000;
  text-shadow: 0px 0px 15px #000;
}
.wave-h3{
  position: absolute;
  right: 275px;
  top: 0px;
  font-size: 50px;
  font-family: 'Monoton', cursive;
  color: #000;
}
.wave-h4{
  position: absolute;
  top: 60px;
  right: 250px;
  font-family: cursive;
  font-size: 20px;
  color: #000;
}

.wave span{
  animation: title 4s  linear infinite;
}
.wave span:nth-child(1){
  animation-delay:0s;
}
.wave span:nth-child(2){
  animation-delay:0.25s;
}
.wave span:nth-child(3){
  animation-delay:0.5s;
}
.wave span:nth-child(4){
  animation-delay:0.75s;
}
.wave span:nth-child(5){
  animation-delay:1s;
}
.wave span:nth-child(6){
  animation-delay:1.25s;
}
@keyframes title{
 0%, 100%{
  /* filter: blur(1px); //filter屬性定義元素（通常是 <img>）的視覺效果（如模糊和飽和度） */
  color: #fff;
  
 }
 5%, 95%{
  /* filter: blur(0px); */
  color: #ff0000;
 }
}
/*gameBox */
.gameBox{
  position: relative;
  margin: 0px auto 10px;
  width: 730px;
  height: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid #000;
}
.gameBox label{
  position: relative;
  width: 100%;
  height: 33.333%;
  border: 1px solid #000;
}
.gameBox label input[type="checkbox"]{
  position: relative;
  z-index: 10;
  -webkit-appearance:none;
  appearance: none; /*改變按鈕和其他控件的外觀，使其類似於原生控件*/
}
.gameBox label i{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: 600px;
}
.gameBox label:nth-child(1) i{
  background: url(./img/5011.png);
  background-size: cover;
  animation: labelRun 0.4s steps(3) infinite ;
}
.gameBox label:nth-child(2) i{
  background: url(./img/5022.png);
  background-size: cover;
  animation: labelRun 0.2s steps(3) infinite;
}
.gameBox label:nth-child(3) i{
  background: url(./img/5033.png);
  background-size: cover;
  animation: labelRun 0.3s steps(3) infinite;
}
@keyframes labelRun{
  0%{
    background-position: 0px;
  }
  100%{
    background-position: 730px;
  }
}

/*  .gameBox label input:checked~i{ //選取有 title 屬性且以空格分隔的一個值等於 select 的元素。 */
/*    animation-play-state: paused; */
/*  } */
.resetBox{
  background: #ee0000;
  width: 150px;
  padding: 5px;
  margin: 5px auto;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*container-two */
.containerTwo{
  width: 100%;
  padding: 5px;
  position: relative;
  background: #000;
}

/* talkBox */
.containerTwo .talkBox{
  padding: 10px;
  margin: 5px;
  position: relative;
  display: flex;
  align-items: center;
  border: 1px #fff solid;
}
.containerTwo .talkBox .talkOne{
  width: 150px;
  height: 150px;
  background: url(./img/d1a52.jpg) no-repeat center center;
  background-size: cover;
  border-radius: 50%;
  border: #ff0000 2px solid;
  display: inline-block;
  margin: auto 20px;
}

.txtOne{
  margin: auto 10px;
  font-size: 3rem;
  position: relative;
}
.txtOne span{
  color: #fff;
  display: inline-block;
  overflow: hidden;
  width: 0ch;
  animation: textIn 0.1s ease-in-out forwards;
  animation-delay: var(--delay);
}
@keyframes textIn {
  from{
    width: 0ch;
  }
  to{
    width: 2ch;
  }
}
.timeRightOne{
  position: absolute;
  right: 20px;
  bottom: 20px;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
}
/*talkBoxTwo */
.containerTwo .talkBoxTwo{
  padding: 10px;
  margin: 5px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border: 1px #fff solid;
  
}
.containerTwo .talkBoxTwo .talkTwo{
  width: 150px;
  height: 150px;
  background: url(./img/d1a53.jpg) no-repeat center center;
  background-size: cover;
  border-radius: 50%;
  border: #ff0000 2px solid;
  display: inline-block;
  margin: auto 20px;
}

.txtTwo{
  margin: auto 10px;
  font-size: 3rem;
  position: relative;
  display: none;
}
.txtTwo span{
  color: #fff;
  display: inline-block;
  overflow: hidden;
  width: 0ch;
  animation: textInTwo 0.1s ease-in-out forwards;
  animation-delay: var(--delayTwo);
}
@keyframes textInTwo {
  from{
    width: 0ch;
  }
  to{
    width: 2ch;
  }
}
.timeRightTwo{
  position: absolute;
  left:20px;
  bottom: 20px;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
}
/*talkBoxThree */
.containerTwo .talkBoxThree{
  padding: 10px;
  margin: 5px;
  position: relative;
  display: flex;
  align-items: center;
  border: 1px #fff solid;
  
}
.containerTwo .talkBoxThree .talkThree{
  width: 150px;
  height: 150px;
  background: url(./img/d1a54.jpg) no-repeat center center;
  background-size: cover;
  border-radius: 50%;
  border: #ff0000 2px solid;
  display: inline-block;
  margin: auto 20px;
}

.txtThree{
  margin: auto 10px;
  font-size: 3rem;
  position: relative;
  display: none;
}
.txtThree span{
  color: #fff;
  display: inline-block;
  overflow: hidden;
  width: 0ch;
  animation: textInThree 0.1s ease-in-out forwards;
  animation-delay: var(--delayThree);
}
@keyframes textInThree {
  from{
    width: 0ch;
  }
  to{
    width: 2ch;
  }
}
.timeRightThree{
  position: absolute;
  right: 20px;
  bottom: 20px;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
}

/*container-Four */
.containerFour{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(./img/2022.jpg) no-repeat center center;
  background-size: cover;
}
.cardContainer{
  width: 300px;
  height: 400px;
  position: relative;
  perspective: 1000px;
}
.cover,.back{
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  transition: transform .25s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  text-shadow: 0px 0px 10px #fff;
  color: #fff;
}
.cover{
  background: #000;
  border: #ff0000 2px solid;
  font-size: 40px;
  font-family: 'Monoton', cursive;
}

.back{
  position: relative;
  flex-direction: column;
  border: #000 2px solid;
  text-shadow: none;
  background: #c91b1b;
}
.back h4{
  font-size: 28px;
  padding: 5px;
  margin: 5px auto;
}
.back p{
  font-size: 24px;
  padding: 5px;
}

/*container-five */
.containerFive{
  width: 100%;
  position: relative;
  background: #fff;
}

.containerFive .fiveBox{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row-reverse;
 }
.containerFive .fiveBox .imgBox{
 position: relative;
 width: 100%;
 height: 100%;
}
.containerFive .fiveBox .imgBox img{
  position: relative;
  display: block;
  width: 675px;
  height: 400px;
  z-index: 2;
 }
 .fiveTimeLine{
  position: relative;
  width: 100%;
  margin: 0 auto;
 }
 .fiveTimeLine::after{
  content: '';
  position: absolute;
  width: 6px;
  background-color: #000;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: 335px;
 }
 .fiveContainer{
  position: relative;
  padding-bottom: 5px;
  width: 100%;
  display: flex;
  justify-content: end;
 }
 .fiveContainer::after{
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  top: 15px;
  background-color: #000;
  border: 3px solid #ff0000;
  border-radius: 50%;
  z-index: 1;
 }
 .fiveRight{
  left: 0%;
 }
 .fiveRight::before{
  content: '';
  height: 0;
  position: absolute;
  top: 16px;
  width: 0;
  z-index: 1;
  right: 15px;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid #000;
 }
 .fiveContent{
  width: 100%;
  position: relative;
  right: 30px;
  border-radius: 3px;
  border-top: 1px #000 solid;
  border-right: 1px #000 solid;
  display: flex;
  justify-content: end;
  align-items: center;
  flex-direction: column;
 }
 .fiveContent h3{
  width: 100%;
  font-size: 24px;
  font-weight: bolder;
  text-align: center;
 }
 .fiveContent ul{
   position: relative;
   width: 100%;
   display: flex;
   justify-content: start;
   align-items: flex-start;
   flex-direction: column;
 }
 .fiveContent ul li{
   background: none;
   position: relative;
   left: 200px;
   list-style-type: disc;
   border-bottom: #000 3px solid;
   font-size: 1rem;
 }
 .fiveContent span{
  color: #ff0000;
 }

/*container-six */
.containerSix{
  position: relative;
  width: 100%;
}
.containerSix h2{
  color: #ff0000;
  font-size: 32px;
}
.sixBox{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: start;
}
.containerSix .sixBox img{
  width: 100%;
  height: 100%;
  display: block;
}
.sixTitle{
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.sixTitle span{
  color: #ff0000;
}
.sixTitle h3,.sixBoxTitleTwo h3{
  width: 100%;
  font-size: 24px;
  font-weight: bolder;
}

.sixTitle ul,.sixBoxTitleTwo ul{
  width: 100%;
  margin: 5px;
  padding: 10px;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  flex-wrap: wrap;
  
}

.sixTitle ul li,.sixBoxTitleTwo ul li{
  list-style: disc;
  background: #ffffff;
  padding: 5px;
  margin: 5px;
  border-bottom: #000 3px solid;
  font-size: 1rem;
}

/* container-seven */
.containerSeven{
  position: relative;
  padding: 5px;
  width: 100%;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.SevenH2{
  position: relative;
  margin: 5px;
  color: transparent;
  background: #ff0000;
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 50px;
  letter-spacing: 0.3rem;
}
.SevenH2::after{
  content: "~贊助廠商~";
  position: absolute;
  left: 0;
  top: 0;
  color: #ffffff;
  /*  -webkit-clip-path: ellipse(55px 55px at 0% 50%); // ellipse 橢圓形 */
  /* clip-path: ellipse(55px 55px at 0% 50%); // 值為 ( X 、Y 軸半徑 at 圓心座標 ) */
  animation: spotLight 3s infinite;
}
@keyframes spotLight{
  0%{
    -webkit-clip-path: ellipse(40px 40px at 0% 50%);
    clip-path: ellipse(40px 40px at 0% 50%);
  }
  50%{
    -webkit-clip-path: ellipse(40px 40px at 100% 50%);
    clip-path: ellipse(40px 40px at 100% 50%);
  }
  100%{
    -webkit-clip-path: ellipse(40px 40px at 0% 50%);
    clip-path: ellipse(40px 40px at 0% 50%);
  }
}
.containerSeven .box{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cardBox1,.cardBox2,.cardBox3{
  width: 100%;
  height: 100%;
  margin: 10px auto;
  padding: 5px;
  text-align: center;
}
.smallCard1,.smallCard2,.smallCard3{
  width: 100%;
  background:no-repeat center center;
  background-size: 50%;
  margin: 5px auto;
}
.smallCard1 img,.smallCard2 img,.smallCard3 img{
  width: 200px;
  height: 200px;
  border-radius: 10%;
}
.smallCard1 img:hover,.smallCard2 img:hover,.smallCard3 img:hover{
  transform: scale(1.05);
}
/* container-eight */
.containerEight{
  position: relative;
  width: 100%;
  background: #fff;
}
.eightH2{
  font-size: 60px;
  font-family: 'Monoton', cursive;
  text-align: center;
  color: #ff0000;
  text-shadow: 0px 0px 15px #000;
}
.time{
  position: relative;
  color: #ff0000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.time .circle{
  position: relative;
  margin: auto 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 20px;
  font-weight: bold;
}
#timeTotol{
  position: absolute;
  text-align: center;
  top: 20px;
}
.time .circle svg{
  position: relative;
  width: 100px;
  height: 100px;
  transform: rotate(270deg);
}
.time .circle svg circle{
  width: 100%;
  height: 100%;
 
}
.time .circle svg circle:nth-child(2){
  stroke-dasharray: 260;
}
.circleDays{
  position: absolute;
  top: 30px;
}
.time p{
  width: 100%;
  text-align: center;
  font-size: 140px;
  font-family: 'Monoton', cursive;
  color: #000;
}
.eightImg{
  position: absolute;
  top: -30px;
  right: 150px;
  background: url(./img/504.png) no-repeat center center;
  background-size: 65%;
  width: 200px;
  height: 260px;
  transform: skew(-5deg,-0deg);
  animation: Cartoon 5s infinite ease-in-out alternate;
}
@keyframes Cartoon {
  0%{
    right: -10px;
  }
  100%{
    right: 150px;
  }
}
.signUp button{
  position: absolute;
  width: 50px;
  height: 50px;
  top: -1430px;
  z-index: 1;
  font-size: 14px;
  background: #000;
  border: #ff0000 1px solid;
  text-align: center;
  animation: button 3s infinite linear;
}
@keyframes button{
  0%{
    box-shadow: 0px 0px 5px 5px #fff;
  }
  100%{
    box-shadow: 0px 0px 3px 3px #000;
  }
}
.signUp button a{
  text-decoration: none;
  color: #ff0000;
  font-size: 14px;
  font-weight: bold;
}
.animate-stars{
  right: -22px;
  display: block;
  transform: rotate(90deg);
}
.animate-end{
  right: 10px;
  display: block;
  transform: rotate(0deg);
}
/* container-foot */
.container-foot{
  width: 100%;
  height: 50px;
  text-align: center;
  line-height:50px;
  background: #000;
  color: #ff0000;
  font-size: 20px;
}
